%div{
    background-color: $negro;
    color: $blanco;
    font-family: $typo-principal;
    margin: 100px 100px;
    h1{
        font-size: 50px;
        margin: 100px 0px;
        text-align: center;
        &:hover{
            color: $celeste;
        }
    }
     p {
        font-size: 25px;
        padding-bottom: 30px;
    
    &:hover{
        color: rgb(0, 171, 250);
    }
}
}
//MIXIN
@mixin estiloTexto ($family){
    
    font-family:$family ;
    background-color: $negro;
    color: white;
    margin: 50px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    h2 {
        border: 2px solid  $negro;
    color:  $negro;
    border-radius: 24px;
        border-radius: 3px  $negro;
        background-image: linear-gradient(#22636b 40%, #00d4ff);
        padding: 30px;
        width: 1100px;
        text-align: center;
        &:hover{
            color:$celeste;
        }
    }
    div{   
            /* background-color: #488c8c; */
            display: flex;
            text-align: center;
            border-radius: 17px;
            border: solid $celeste;;
            margin: 36px 0px;
            width: 380px;
            font-size: 20px;
            height: 319px;
            flex-direction: column;
            justify-content: space-around;
        }
}
