footer{
    .grid-container2 {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.5fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "h1 h1 h1 h1 h1"
          "iframe iframe iframe iframe iframe"
          "redes redes redes redes redes";
      
          .h1 { grid-area: h1;
    .tituloFooter {
        margin: 58px;
        text-align: center;
        font-size: calc(1.275rem + .3vw);
        font-size: 40px;
        &:hover{
            color:$celeste;
        }
    }
    }
    .redes { grid-area: redes; 
    .sectionFooter{
        display: flex;
        justify-content: space-around;
        div{
            h3{
                margin: 30px;
            text-align: center;
            &:hover{
                color:$celeste;
            }
            }
            p{
                margin: 0px;
                padding: 0px;
            }
        }
        
    }
    
}

   
    .iframe { grid-area: iframe; 
    iframe{
       
        margin: 0px 25px;
        width: 80vw;
    
    }
}
}
}

@media (max-width: 768px) {
     
    .footer .iframe { grid-area: iframe; 
         iframe {
        margin: 0px 0px 0px 116px;
        width: 70vw;}
    }
}

    @media (max-width: 420px) {
        
        
        .footer{
            .iframe { grid-area: iframe; 
             iframe {
            margin: 0px 0px 0px 0px;
            width: 100vw;}
        }

            .h1 { grid-area: h1;
            .tituloFooter{
                margin: 40px 12px;
                text-align: center;
                font-size: calc(1.275rem + .3vw);
                font-size: 40px;
            }
        }
        .redes { grid-area: redes; 
            .sectionFooter {
                margin: 0px 20px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
            p{
                
                display: inline-block;
                margin: 5px;
            }
            
        }
        
    }
}