.header{
    background-image: linear-gradient(#22636b99 40%, #00d4ff);
    color: rgb(7, 7, 8);
    position: sticky;
    top: 0;
    z-index: 100;
    .tituloFooter {
        margin: 20px;
        text-align: center;
        font-size: calc(1.275rem + .3vw);
        font-size: 40px;
    }
    
    .header__nav .navbar-nav .nav-link.active, .header__nav .navbar-nav .show > .nav-link {
        color: $negro;
        font-weight: 900;
            }
    
    &__img{
        width: 150px;
    }
     &__nav{
        font-size: 20px;
        width: 100vw;
            .navbar-nav {
               --bs-nav-link-disabled-color: $negro;
            }
            .btn-outline-success {
                --bs-btn-color: $negro;
                --bs-btn-border-color: $negro;
            }
            &__div{ 
                color: black;
               &__ul{
                color: $negro;
                   
              &__li{
                a{
                    color:$negro;
                    
                    }
                }
                }
            }
         }
         .nav-link{
            color:$negro;}
            
   
         }